# Android Studio config
**/.gradle
**/.idea
**/*.iml

# Device-specific config files
**/.DS_Store
**/local.properties
**/UserInterfaceState.xcuserstate
**/xcuserdata

# Ephemeral build metadata
**/build
