# Android Studio config
**/.gradle
**/.idea
**/*.iml

# Device-specific config files
**/.DS_Store
**/local.properties
**/UserInterfaceState.xcuserstate
**/xcuserdata

# VS-specific files
**/.vs

# Dart-specific files
**/.dart_tool

# iOS Pods
HeraldTest-iOS/Pods

# Ephemeral build metadata
**/build
